In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split

%matplotlib inline

# 1. Prepare Development Set

In [2]:
data_dir = '../data/raw/'
files = os.listdir(data_dir)
for i, v in enumerate(files):
    print(i, v)

0 38_sick_train.csv
1 38_sick_test.csv

In [3]:
train = pd.read_csv(data_dir + files[0])
print("Dimensions: {}".format(train.shape))
print("Columns: {}".format(', '.join(train.columns)))
train.head()

Dimensions: (3018, 31)
Columns: d3mIndex, age, sex, on_thyroxine, query_on_thyroxine, on_antithyroid_medication, sick, pregnant, thyroid_surgery, I131_treatment, query_hypothyroid, query_hyperthyroid, lithium, goitre, tumor, hypopituitary, psych, TSH_measured, TSH, T3_measured, T3, TT4_measured, TT4, T4U_measured, T4U, FTI_measured, FTI, TBG_measured, TBG, referral_source, Class

,d3mIndex,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,Class
0,0,41.0,F,f,f,f,f,f,f,f,...,t,125.0,t,1.14,t,109.0,f,NaN,SVHC,negative
1,2,46.0,M,f,f,f,f,f,f,f,...,t,109.0,t,0.91,t,120.0,f,NaN,other,negative
2,3,70.0,F,t,f,f,f,f,f,f,...,t,175.0,f,NaN,f,NaN,f,NaN,other,negative
3,5,18.0,F,t,f,f,f,f,f,f,...,t,183.0,t,1.30,t,141.0,f,NaN,other,negative
4,6,59.0,F,f,f,f,f,f,f,f,...,t,72.0,t,0.92,t,78.0,f,NaN,other,negative

In [4]:
# Since column 'd3mIndex' can be ignored, drop 
train.drop(columns=['d3mIndex'], axis=1, inplace=True)

In [5]:
train.dtypes

age                          float64
sex                           object
on_thyroxine                  object
query_on_thyroxine            object
on_antithyroid_medication     object
sick                          object
pregnant                      object
thyroid_surgery               object
I131_treatment                object
query_hypothyroid             object
query_hyperthyroid            object
lithium                       object
goitre                        object
tumor                         object
hypopituitary                 object
psych                         object
TSH_measured                  object
TSH                          float64
T3_measured                   object
T3                           float64
TT4_measured                  object
TT4                          float64
T4U_measured                  object
T4U                          float64
FTI_measured                  object
FTI                          float64
TBG_measured                  object
TBG                          float64
referral_source               object
Class                         object
dtype: object

In [6]:
# # Separate training data into train and development set
# Separate 'class' column as y
y = train.iloc[:,-1].to_frame()
X = train.iloc[:,:-1]

In [7]:
X_train, X_dev, y_train, y_dev = train_test_split(X, y, test_size=0.2, random_state=1)

In [ ]:
# Specify directory
temp_data_dir = '../data/temp/'

# Save data 
X_train.to_csv(temp_data_dir + 'X_train.csv')
y_train.to_csv(temp_data_dir + 'y_train.csv')
X_dev.to_csv(temp_data_dir + 'X_dev.csv')
y_dev.to_csv(temp_data_dir + 'y_dev.csv')